/node_modules
/vendor
/public/hot
/public/storage
/public/build
/storage/*.key
.vite
.env
.env.backup
.env.docker
.env.production
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/remotion/node_modules
/remotion/build
/remotion/out
